<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= post.title %></h1>
    <p><em><%= post.date %></em></p>
    <div><%= post.content %></div>
    <a href="/blog">Back to Blog</a>
</body>
</html>
